.login_container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
input[type="text"],
input[type="password"] {
width: 100%;          /* biar penuh mengikuti container */
text-align: center;
margin-bottom: 10px;
padding:auto;        /* jarak antar input */
border: 1px solid #ccc;
border-radius: 20px;   /* buat sudut tumpul */
font-size: 10px; /* ukuran teks */

}

button {
    width: 100%;
    text-align: center;
    margin-top: 2px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
    color: white;
}